.App {
  text-align: center;
  background-image: url("https://images.freeimages.com/images/large-previews/6d5/lake-at-the-cottage-1372381.jpg");
  background-repeat: no-repeat no-repeat;
  background-size: cover;
  height: 100vw;
}
