.bar {
  background-color: rgba(24, 128, 64);
  height: 60px;
  border: solid 1px rgba(24, 168, 64);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}


#clear {
    clear: both;
}
