h1 {
    font-weight: 100;
    font-family: Arial;
    color: rgb(191, 79, 73);
 }

.barSection {
    width: 100%;
    text-align: center;
    background-color: rgb(34, 39, 49);
}


.barLink {
    line-height: 15px;
    background-color: rgb(34, 39, 49);
    border: none;
    text-align: center;
}

/* .barLink:hover { */
/*     animation: ; */
/* } */

#left {
    float: left;
}

#right {
    float: right;
}
